@charset "UTF-8";
@import "variables";
@import url(./home.css);
@import url(./performances.css);
@import url(./posts.css);
@import url(./users.css);

/* GLOBAL */

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  li {
    list-style-type: none;
  }
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: $header_height;
  padding-bottom: $footer_height;
  box-sizing: border-box;
}

main {
  height: 100%;
}

/* layout.php */

header {
  width: 100%;
  height: $header_height;
  display: flex;
  background-color: dimgray;
  position: fixed;
  top: 0;
  z-index: 1;

  p {
    margin-left: 16px;

    a {
      color: whitesmoke;
      font-size: 24px;
      line-height: $header_height;
      display: inline-block;
    }
  }

  nav {
    margin-left: auto;
    
    ul {
      display: flex;

      li {
        margin-right: 16px;
        
        a{
          color: whitesmoke;
          font-size: 16px;
          line-height: $header_height;
          display: inline-block;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: $footer_height;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;

  p {
    color: whitesmoke;
    font-size: 12px;
  }
}


/* errors.php */
.error_list {
  color: red;
  margin-bottom: 4px;
}
