@import "variables";

/* users/signup.php, /users/signin.php */
.before-login-wrapper {
  width: 100%;
  min-height: $wrapper_height;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .before-login-container {
    width: 60%;
    background-color: lightgray;
    box-shadow: 4px 4px gray;
    color: black;

    h2 {
      margin-top: 12px;
      text-align: center;
      border-bottom: 1px solid gray;
      padding-bottom: 12px;
    }

    .before-login-form {
      margin-top: 10px;

      .before-login-client-input {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 85%;
        
        .before-login-client-content {  
          margin-bottom: 12px;

          p {
            margin-bottom: 4px;
          }

          input {
            width: 100%;
            padding: 8px;
            font-size: 12px;
            border-radius: 3px;
            border: 2px solid gray;
            box-sizing: border-box;
            box-shadow: 4px 4px gray;
          }
        }

        .before-login-client-img{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .before-login-button {
          display: inline-block;
          width: 50%;
          margin: 20px auto;
          padding: 8px;
          background-color: dodgerblue;
          color: whitesmoke;
          font-size: 12px;
          box-shadow: 4px 4px gray;
          border: 2px solid black; 

          &:hover {
            box-shadow: none;
            background-color: whitesmoke;
            color: dodgerblue;
          }
        }
      }

    }
  }
}


/* users/show.php */

.user-show-wrapper {
  width: 100%;
  min-height: $wrapper_height;
  background-color: azure;  

  display: flex;
  flex-direction: column;
  align-items: center;

  .user-information {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-image {
      border-radius: 50%;
      margin-top: 20px;
    }

    h2 {
      font-weight: normal;
      font-size: 40px;
    }

    .follows {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;

      a {
        display: inline-block;
        width: 100px;
        text-align: center;
        color: black;
      }
    }

    .follow-or-edit {
      margin-top: 8px;

      a {
        color: black;
      }
    }
    
  }

  .done-wanna-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

    .done-wanna-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-bottom: 16px;
        
      li {
        height: 32px;
        line-height: 32px;

        a {
          display: inline-block;
          width: 120px;
          color: black;
          text-align: center;
        }
      }

      .done-wanna-menu-active {
        background-color: seagreen;
        color: whitesmoke;
      }
    }

    .done-wanna-contents {
      display: none;
    }

    .done-wanna-contents-active {
      width: 660px;
      display: flex;
      flex-wrap: wrap;
    }
    
  }
}

/* users/edit.php */

.users-edit-wrapper {
  min-height: $wrapper_height;
  box-sizing: border-box;
  padding-top: 12px;
  background-color: azure;
  
  .users-edit-container {
    margin: 0 auto;
    width: 60%;
    box-sizing: border-box;
    padding: 12px;
    background-color: lightgray;
    box-shadow: 4px 4px gray;
    color: black;
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
      padding-bottom: 12px;
      border-bottom: 1px solid black;
    }

    .users-edit-form {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 85%;
      
      .users-edit-content {  
        margin-bottom: 12px;

        p {
          margin-bottom: 4px;
        }

        input {
          width: 100%;
          padding: 8px;
          font-size: 12px;
          border-radius: 3px;
          border: 2px solid gray;
          box-sizing: border-box;
          box-shadow: 4px 4px gray;
        }
      }

      .users-edit-img{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .users-edit-button {
        display: inline-block;
        width: 50%;
        margin: 20px auto;
        padding: 8px;
        background-color: dodgerblue;
        color: whitesmoke;
        font-size: 12px;
        box-shadow: 4px 4px gray;
        border: 2px solid black; 

        &:hover {
          box-shadow: none;
          background-color: whitesmoke;
          color: dodgerblue;
        }
      }
    }
  }
}

/* users/followers.php users/followings.php */
.follows-wrapper {
  min-height: $wrapper_height;
  box-sizing: border-box;
  padding: 12px 5%;
  background-color: azure;
  display: flex;
  flex-wrap: wrap; 
  
  .follows-container {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    height: 150px;

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }

    a {
      color: black;
    }
  }
}

