/* posts/index.php */
.posts-index-wrapper {
  min-height: calc(100vh - 64px - 48px);
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .posts-index-wrapper h2 {
    margin: 12px auto; }
  .posts-index-wrapper h3 {
    color: black; }

/* posts/new.php */
.posts-new-wrapper {
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center; }

/* posts/show.php */
.posts-show-wrapper {
  min-height: calc(100vh - 64px - 48px);
  box-sizing: border-box;
  background-color: azure;
  display: flex;
  justify-content: center;
  padding-top: 12px; }
  .posts-show-wrapper .posts-edit {
    height: 172px;
    display: flex; }
    .posts-show-wrapper .posts-edit a {
      display: inline-block;
      margin-top: auto;
      margin-bottom: 0;
      margin-right: 12px;
      color: black; }

/* posts/new.php */
.posts-new-wrapper {
  min-height: calc(100vh - 64px - 48px);
  box-sizing: border-box;
  padding-top: 12px;
  background-color: azure; }
  .posts-new-wrapper .posts-new-container {
    width: 60%;
    box-sizing: border-box;
    padding: 12px;
    background-color: lightgray;
    box-shadow: 4px 4px gray;
    color: black;
    display: flex;
    flex-direction: column; }
    .posts-new-wrapper .posts-new-container h2 {
      text-align: center;
      padding-bottom: 12px;
      border-bottom: 1px solid black; }
    .posts-new-wrapper .posts-new-container .posts-new-form {
      display: flex;
      flex-direction: column;
      margin-top: 12px; }
      .posts-new-wrapper .posts-new-container .posts-new-form select {
        height: 32px;
        margin-bottom: 12px;
        font-size: 16px; }
      .posts-new-wrapper .posts-new-container .posts-new-form textarea {
        min-height: 150px;
        margin-bottom: 12px;
        font-size: 16px; }
      .posts-new-wrapper .posts-new-container .posts-new-form p {
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 12px; }
      .posts-new-wrapper .posts-new-container .posts-new-form .posts-new-button {
        display: inline-block;
        width: 50%;
        margin: 20px auto;
        padding: 8px;
        background-color: dodgerblue;
        color: whitesmoke;
        font-size: 12px;
        box-shadow: 4px 4px gray;
        border: 2px solid black; }
        .posts-new-wrapper .posts-new-container .posts-new-form .posts-new-button:hover {
          box-shadow: none;
          background-color: whitesmoke;
          color: dodgerblue; }

/* posts/edit.php */
.posts-edit-wrapper {
  min-height: calc(100vh - 64px - 48px);
  box-sizing: border-box;
  padding-top: 12px;
  background-color: azure; }
  .posts-edit-wrapper .posts-edit-container {
    margin: 0 auto;
    width: 60%;
    box-sizing: border-box;
    padding: 12px;
    background-color: lightgray;
    box-shadow: 4px 4px gray;
    color: black;
    display: flex;
    flex-direction: column; }
    .posts-edit-wrapper .posts-edit-container h2 {
      text-align: center;
      padding-bottom: 12px;
      border-bottom: 1px solid black; }
    .posts-edit-wrapper .posts-edit-container .posts-edit-form {
      display: flex;
      flex-direction: column;
      margin-top: 12px; }
      .posts-edit-wrapper .posts-edit-container .posts-edit-form h3 {
        margin-left: 12px;
        margin-bottom: 12px; }
      .posts-edit-wrapper .posts-edit-container .posts-edit-form textarea {
        min-height: 150px;
        margin-bottom: 12px;
        font-size: 16px; }
      .posts-edit-wrapper .posts-edit-container .posts-edit-form p {
        margin-left: auto;
        margin-right: 0; }
      .posts-edit-wrapper .posts-edit-container .posts-edit-form .posts-edit-button {
        display: inline-block;
        width: 50%;
        margin: 20px auto;
        padding: 8px;
        background-color: dodgerblue;
        color: whitesmoke;
        font-size: 12px;
        box-shadow: 4px 4px gray;
        border: 2px solid black; }
        .posts-edit-wrapper .posts-edit-container .posts-edit-form .posts-edit-button:hover {
          box-shadow: none;
          background-color: whitesmoke;
          color: dodgerblue; }

/* posts/post.php */
.img-and-post {
  width: 600px;
  display: flex;
  margin-bottom: 12px; }
  .img-and-post img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 12px; }
  .img-and-post .post-content {
    display: flex;
    flex-direction: column; }
    .img-and-post .post-content a {
      margin-top: 4px;
      color: black; }
    .img-and-post .post-content p {
      margin-top: 12px;
      margin-bottom: 12px; }

/*# sourceMappingURL=posts.css.map */
