/* users/signup.php, /users/signin.php */
.background-img {
  width: 100%;
  height: calc(100vh - 64px - footer_height);
  box-sizing: border-box;
  background-image: url(exit.jpg);
  background-size: cover;
  display: flex;
  justify-content: center; }
  .background-img .before-login-container {
    position: absolute;
    top: calc(64px + 20px);
    min-height: 70%;
    width: 60%;
    background-color: lightgray;
    box-shadow: 4px 4px gray;
    color: black; }
    .background-img .before-login-container h2 {
      margin-top: 12px;
      text-align: center;
      border-bottom: 1px solid gray;
      padding-bottom: 12px; }
    .background-img .before-login-container .before-login-form {
      margin-top: 10px; }
      .background-img .before-login-container .before-login-form .before-login-client-input {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 85%; }
        .background-img .before-login-container .before-login-form .before-login-client-input .before-login-client-content {
          margin-bottom: 12px; }
          .background-img .before-login-container .before-login-form .before-login-client-input .before-login-client-content p {
            margin-bottom: 4px; }
          .background-img .before-login-container .before-login-form .before-login-client-input .before-login-client-content input {
            width: 100%;
            padding: 8px;
            font-size: 12px;
            border-radius: 3px;
            border: 2px solid gray;
            box-sizing: border-box;
            box-shadow: 4px 4px gray; }
        .background-img .before-login-container .before-login-form .before-login-client-input .before-login-client-img {
          display: flex;
          align-items: center; }
          .background-img .before-login-container .before-login-form .before-login-client-input .before-login-client-img input {
            margin-left: 16px; }
        .background-img .before-login-container .before-login-form .before-login-client-input .before-login-button {
          display: inline-block;
          width: 50%;
          margin: 20px auto;
          padding: 8px;
          background-color: dodgerblue;
          color: whitesmoke;
          font-size: 12px;
          box-shadow: 4px 4px gray;
          border: 2px solid black; }
          .background-img .before-login-container .before-login-form .before-login-client-input .before-login-button:hover {
            box-shadow: none;
            background-color: whitesmoke;
            color: dodgerblue; }

/* users/show.php */
.user-show-container {
  width: 100%;
  min-height: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .user-show-container .user-information {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .user-show-container .user-information .user-image {
      border-radius: 50%;
      margin-top: 20px; }
    .user-show-container .user-information h2 {
      font-weight: normal;
      font-size: 40px; }
    .user-show-container .user-information .follows {
      margin-top: 8px;
      display: flex;
      justify-content: space-between; }
      .user-show-container .user-information .follows a {
        display: inline-block;
        width: 100px;
        text-align: center;
        color: black; }
    .user-show-container .user-information .follow-or-edit {
      margin-top: 8px; }
      .user-show-container .user-information .follow-or-edit a {
        color: black; }
  .user-show-container .done-wanna-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px; }
    .user-show-container .done-wanna-tab .done-wanna-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-bottom: 16px; }
      .user-show-container .done-wanna-tab .done-wanna-menu li {
        height: 32px;
        line-height: 32px; }
        .user-show-container .done-wanna-tab .done-wanna-menu li a {
          display: inline-block;
          width: 120px;
          color: black;
          text-align: center; }
      .user-show-container .done-wanna-tab .done-wanna-menu .done-wanna-menu-active {
        background-color: seagreen;
        color: whitesmoke; }
    .user-show-container .done-wanna-tab .done-wanna-contents {
      display: none; }
    .user-show-container .done-wanna-tab .done-wanna-contents-active {
      width: 660px;
      display: flex; }

/*# sourceMappingURL=users.css.map */
