/* users/signup.php, /users/signin.php */
.before-login-wrapper {
  width: 100%;
  min-height: calc(100vh - 64px - 48px);
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center; }
  .before-login-wrapper .before-login-container {
    width: 60%;
    background-color: lightgray;
    box-shadow: 4px 4px gray;
    color: black; }
    .before-login-wrapper .before-login-container h2 {
      margin-top: 12px;
      text-align: center;
      border-bottom: 1px solid gray;
      padding-bottom: 12px; }
    .before-login-wrapper .before-login-container .before-login-form {
      margin-top: 10px; }
      .before-login-wrapper .before-login-container .before-login-form .before-login-client-input {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 85%; }
        .before-login-wrapper .before-login-container .before-login-form .before-login-client-input .before-login-client-content {
          margin-bottom: 12px; }
          .before-login-wrapper .before-login-container .before-login-form .before-login-client-input .before-login-client-content p {
            margin-bottom: 4px; }
          .before-login-wrapper .before-login-container .before-login-form .before-login-client-input .before-login-client-content input {
            width: 100%;
            padding: 8px;
            font-size: 12px;
            border-radius: 3px;
            border: 2px solid gray;
            box-sizing: border-box;
            box-shadow: 4px 4px gray; }
        .before-login-wrapper .before-login-container .before-login-form .before-login-client-input .before-login-client-img {
          display: flex;
          align-items: center;
          justify-content: space-between; }
        .before-login-wrapper .before-login-container .before-login-form .before-login-client-input .before-login-button {
          display: inline-block;
          width: 50%;
          margin: 20px auto;
          padding: 8px;
          background-color: dodgerblue;
          color: whitesmoke;
          font-size: 12px;
          box-shadow: 4px 4px gray;
          border: 2px solid black; }
          .before-login-wrapper .before-login-container .before-login-form .before-login-client-input .before-login-button:hover {
            box-shadow: none;
            background-color: whitesmoke;
            color: dodgerblue; }

/* users/show.php */
.user-show-wrapper {
  width: 100%;
  min-height: calc(100vh - 64px - 48px);
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .user-show-wrapper .user-information {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .user-show-wrapper .user-information .user-image {
      border-radius: 50%;
      margin-top: 20px; }
    .user-show-wrapper .user-information h2 {
      font-weight: normal;
      font-size: 40px; }
    .user-show-wrapper .user-information .follows {
      margin-top: 8px;
      display: flex;
      justify-content: space-between; }
      .user-show-wrapper .user-information .follows a {
        display: inline-block;
        width: 100px;
        text-align: center;
        color: black; }
    .user-show-wrapper .user-information .follow-or-edit {
      margin-top: 8px; }
      .user-show-wrapper .user-information .follow-or-edit a {
        color: black; }
  .user-show-wrapper .done-wanna-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px; }
    .user-show-wrapper .done-wanna-tab .done-wanna-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-bottom: 16px; }
      .user-show-wrapper .done-wanna-tab .done-wanna-menu li {
        height: 32px;
        line-height: 32px; }
        .user-show-wrapper .done-wanna-tab .done-wanna-menu li a {
          display: inline-block;
          width: 120px;
          color: black;
          text-align: center; }
      .user-show-wrapper .done-wanna-tab .done-wanna-menu .done-wanna-menu-active {
        background-color: seagreen;
        color: whitesmoke; }
    .user-show-wrapper .done-wanna-tab .done-wanna-contents {
      display: none; }
    .user-show-wrapper .done-wanna-tab .done-wanna-contents-active {
      width: 660px;
      display: flex;
      flex-wrap: wrap; }

/* users/edit.php */
.users-edit-wrapper {
  min-height: calc(100vh - 64px - 48px);
  box-sizing: border-box;
  padding-top: 12px;
  background-color: azure; }
  .users-edit-wrapper .users-edit-container {
    margin: 0 auto;
    width: 60%;
    box-sizing: border-box;
    padding: 12px;
    background-color: lightgray;
    box-shadow: 4px 4px gray;
    color: black;
    display: flex;
    flex-direction: column; }
    .users-edit-wrapper .users-edit-container h2 {
      text-align: center;
      padding-bottom: 12px;
      border-bottom: 1px solid black; }
    .users-edit-wrapper .users-edit-container .users-edit-form {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 85%; }
      .users-edit-wrapper .users-edit-container .users-edit-form .users-edit-content {
        margin-bottom: 12px; }
        .users-edit-wrapper .users-edit-container .users-edit-form .users-edit-content p {
          margin-bottom: 4px; }
        .users-edit-wrapper .users-edit-container .users-edit-form .users-edit-content input {
          width: 100%;
          padding: 8px;
          font-size: 12px;
          border-radius: 3px;
          border: 2px solid gray;
          box-sizing: border-box;
          box-shadow: 4px 4px gray; }
      .users-edit-wrapper .users-edit-container .users-edit-form .users-edit-img {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .users-edit-wrapper .users-edit-container .users-edit-form .users-edit-button {
        display: inline-block;
        width: 50%;
        margin: 20px auto;
        padding: 8px;
        background-color: dodgerblue;
        color: whitesmoke;
        font-size: 12px;
        box-shadow: 4px 4px gray;
        border: 2px solid black; }
        .users-edit-wrapper .users-edit-container .users-edit-form .users-edit-button:hover {
          box-shadow: none;
          background-color: whitesmoke;
          color: dodgerblue; }

/* users/followers.php users/followings.php */
.follows-wrapper {
  min-height: calc(100vh - 64px - 48px);
  box-sizing: border-box;
  padding: 12px 5%;
  background-color: azure;
  display: flex;
  flex-wrap: wrap; }
  .follows-wrapper .follows-container {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    height: 150px; }
    .follows-wrapper .follows-container img {
      height: 150px;
      width: 150px;
      border-radius: 50%; }
    .follows-wrapper .follows-container a {
      color: black; }

/*# sourceMappingURL=users.css.map */
